header {
    text-align:center;
    font-family: fantasy;
    font-size: 200%;
    font-style: normal;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    height : auto;
    max-height : auto;
}

body {
    background-color: #FCCF00;
	margin: 0;
    padding: 0;
    font-family: Didot, serif;
}

p{
    color: rgb(255, 255, 255);  
}

h1 {
    color: rgb(0, 0, 0);
    text-decoration:underline ;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
}


a:hover {
    font-size:160%;
}

section {
    display: flex;
    line-height:10px;
    flex: 1;
    min-width: 25%; 
    padding: 8px;
    text-align: center;
    border-radius: 20px;
    box-sizing: content-box;
    border:0;
    border-color:black;
    
}

article {
    display: flex;
    line-height:10px;
    flex: 1;
    border: 5px white;
	border-radius: 10px;
    box-sizing: content-box;
    border:0;
    border-color:black;
    text-align: justify;
    height : auto;
    max-height : auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    color:black;
}

#img {
    width: 100%;
	height : auto;
	max-height : 400px;
	display: block;

}

#txt {
    text-align: justify;
    background-color: #01309A;
}

#choix {
    text-align: justify;
    background-color: #01309A;
}

footer {
    border-radius: 10px;
    text-align: center;
    width : 100%;
    height : auto;
    max-height : 400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    color:black;
}

p {
    font-family: fantasy;
    font-size: 150%;
    font-style: normal;
    text-align:center;

}

a {
    font-family: fantasy;
    font-size: 150%;
    font-style: normal;
    text-align:center;

}


@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
  }

